<div class="pos-f-t">
  <div class="collapse" id="navbar-header">
    <div class="container-fluid bg-inverse p-1">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
    </div>
  </div>
  <div class="navbar navbar-light bg-faded navbar-static-top">
    <ul class="nav navbar-nav" id="nav-space">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
    </ul>
  </div>
</div>
